<h1>{{title}}</h1>

<div><label>first_name:</label>
<textarea rows="1"></textarea>
</div>
<div>
<label>rushing_yard:</label>
<textarea rows="1"></textarea>
</div>
<div>
<label>touchdown_thrown:</label>
<textarea rows="1"></textarea>
</div>
<div>
<label>sacks:</label>
<textarea rows="1"></textarea>
</div>
<div>
<label>made_and_missed_fieldgoals:</label>
<textarea rows="1"></textarea>
</div>
<div>
<label>catches_made:</label>
<textarea rows="1"></textarea>
</div>
<button (click)="addTeam()">add</button>

<button (click)="deleteTeam()">delete</button>

<button (click)="updateTeam()">update</button>